.markdown {
  @apply text-base leading-relaxed text-stone-50/75;
}
.markdown a {
  @apply text-blue-900 font-bold
}

.markdown p code {
  @apply bg-black rounded-sm text-white
}
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-sm mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-sm mt-8 mb-4 leading-snug;
}
